
<div class="ui segment">
  <h3 class="ui dividing header">Timeline</h3>

  <div class="ui relaxed divided list">
    {{#each tweets}}
      <div class="item">
        <img class="ui avatar image" src="{{user.img}}"/>
        <div class="content">
          <a class="Header"> {{user.firstName}} {{user.lastName}}</a>
          <p>{{message}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>