<div class="ui form eight wide column">
  <div class="ui segment">
    <form action="/home/tweet" method="POST">
      <div class="grouped inline fields">
        <h3 class="ui dividing header">Tweet</h3>
        <div class="ui field">
          <textarea name="message" rows="3" maxlength="140" placeholder="Description here..." required></textarea>
        </div>
      </div>
      <button class="ui blue submit button"><i class="edit icon"></i> Tweet</button>
    </form>
    {{> formerror }}
  </div>
</div>