<div class="ui list">
  <div class="item">
    <img class="ui avatar image" src="http://res.cloudinary.com/ngrant/image/upload/v1509624963/Profile_iet7qx.png">
    <div class="content">
      <a class="header">Rachel</a>
      <div class="description">Last seen watching <a><b>Arrested Development</b></a> just now.</div>
    </div>
  </div>
</div>