{{> mainmenu _id="home" }}

<div class="ui equal width padded grid">
  <div class = "four wide column">
    {{> profilecard}}
  </div>

  <div class = "eight wide align right column">
  </div>

  <div class = "four wide align right column padded">
    <section class="ui raised segment">
      {{> userlist }}
    </section>
  </div>
</div>
