{{> welcomemenu}}

<section class="ui stacked segment">
  <div class="column">
    <img class="ui image" src="https://res.cloudinary.com/ngrant/image/upload/v1509049391/tweets_elow9a.jpg">
  </div>
  <br>
  <div class="ui grid">
    <aside class="six wide column">
      <img class="ui image" src="http://res.cloudinary.com/ngrant/image/upload/v1509048958/Twitter-Download-PNG_i3shqx.png">
    </aside>
    <article class="ten wide column">
      <header class="ui  header">Welcome to Twitter!</header>
      <p> A twitter web app to post your own tweets and view your friends! Want to know what your friend is eating? Visit us!</p>
    </article>
  </div>
</section>